.romantic-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1000;

  .hearts-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .heart {
      position: absolute;
      bottom: 0;
      font-size: 2rem;
      animation: heartFloat 2s ease-in-out forwards;
      animation-delay: var(--delay);
      left: var(--x);
    }
  }

  .sparkles-container {
    position: absolute;
    width: 100%;
    height: 100%;

    .sparkle {
      position: absolute;
      font-size: 1.5rem;
      animation: sparkle 1.5s ease-in-out infinite;
      animation-delay: var(--delay);
      left: var(--x);
      top: var(--y);
    }
  }
}
